/* Reference colors
#50b1a0;
#3ea9c1
*/

html {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

body {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    font-family: sans-serif;
    color: white;
}

.resize {
    width: 100%;
}

.resize-height {
    height: 100%;
}

.body-box {
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 0px;
}

.cta {
    position: relative;
    float: right;
    margin-right: 1%;
}

.cta-text {
    position: relative;
    width: 100%;
    text-align: center;
    top: 50%;
    font-size: 1.2em;
    margin-top: 15px;
}

.bkg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1001;
}

.in-box {
    position: relative;
    color: white;
    text-align: center;
    width: 70%;
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
}

.text-in-box {
    font-size: 1.5em;
}

.second {
    z-index: -1;
}

.button {
    position: absolute;
    width: 40%;
    border: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
}

.first {
    left: 8%;
}

.last {
    right: 8%;
}

.black {
    color: black;
}

.slider {
    background: url(../images/testimonial-bg.png)no-repeat center center;
    background-size: cover;
    min-height: 400px;
}

.avatar {
    position: relative;
    float: left;
    width: 15%;
    margin-left: 15%;
    margin-top: 10%;
}

.testimonial-text {
    position: relative;
    float: left;
    width: 55%;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 1.3em;
}

.no-break {
    margin-top: 0;
}

.footer-contain {
    position: relative;
    float: right;
    width: 35%;
    margin-top: 5%;
    font-size: 1.2em;
    text-align: right;
}

.beta-field {
    width: 90%;
    height: 50px;
    font-size: 1.8em;
    color: lightgray;
    text-align: left;
    vertical-align: middle;
}

.submit-but {
    background-color: transparent;
    border: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 1.2em;
    margin-top: 5%;
}


/*classes end*/

#header {
    width: 100%;
    background: linear-gradient(to right, #50b1a0, #3ea9c1);
    height: 75px;
    margin-top: 0px;
}

#logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    width: 15%;
    display: inline-block;
    background: #50b1a0;
    min-width: 121px;
}

#cta-box {
    position: absolute;
    top: 0%;
    height: 100%;
    right: 5%;
    width: 40%;
    min-width: 200px;
    display: inline-block;
}

#sign-up {
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    background: #36d5b7;
    border-radius: 15px;
    width: 35%;
    height: 30%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
    margin-top: 15px;
}

#sign-in {
    height: auto;
    background-color: transparent;
    padding: 10px;
    border-radius: 15px;
}

#menu {
    height: auto;
    background-color: transparent;
    padding: 10px;
    border-radius: 15px;
    width: 8%;
    margin-top: 15px;
}

#intro {
    background: url(../images/intro-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 800px;
}

#primary-text {
    font-size: 3.2em;
    margin-top: 17%;
}

#icons {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%
}

#icons-in-box {
    float: right;
    width: 55%;
    margin-left: -10%;
    align-content: center;
}

#pitch {
    background-color: white;
    color: black;
    padding-bottom: 50px;
}

#newsletter {
    background-color: #50b1a0;
    display: inline-block;
}

#beta-contain {
    position: relative;
    width: 60%;
    margin-left: 25%;
    margin-top: 2.5%;
    padding-bottom: 15%;
    background-color: #50b1a0;
}

#email-input {
    position: relative;
    float: left;
    width: 60%;
}

#newsletter-but {
    position: relative;
    float: left;
    width: 20%;
}

#top-but {
    height: auto;
    background-color: transparent;
    padding: 10px;
    border-radius: 15px;
    width: 10%;
}


/*ids end*/

@media only screen and (max-width: 600px) {
    #logo {
        width: 30%;
        top: 45%;
        min-width: 1px;
    }
    #intro {
        min-height: 600px;
    }
    .cta {
        margin: 0;
    }
    #cta-box {
        width: 60%;
        top: px;
        right: 1%;
    }
    #sign-up {
        font-size: .8em;
        width: 24%;
        height: 17%;
    }
    #sign-in {
        font-size: .8em;
        width: 24%;
        border: none;
    }
    #primary-text {
        font-size: 2.2em;
        margin-top: 17%;
    }
    #icons {
        width: 25%;
        margin-left: 37.5%;
        margin-right: 37.5%
    }
    .button {
        position: absolute;
        width: 47%;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1em;
    }
    .in-box {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .first {
        left: 0%;
    }
    .last {
        right: 0%;
    }
    .text-in-box {
        font-size: 1.2em;
    }
    #beta-contain {
        margin-left: 10%;
        margin-top: 2.5%;
    }
    .beta-field {
        width: 100%;
        height: 30px;
        font-size: 1.2em;
        margin-right: 2%;
    }
    .submit-but {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1.2em;
        margin-top: 0%;
        margin-left: 10%;
    }
}